openapi: 3.2.0
info:
  title: UniCourt Normlawfirmtrack API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 47 operation(s) read from 24 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; UniCourt has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.unicourt.com/getting-started/structure-of-requests-and-responses
  - https://docs.unicourt.com/getting-started/quickstart-view-and-track-cases
  - https://docs.unicourt.com/authentication-and-authorization/config-your-api-settings
  - https://docs.unicourt.com/knowledge-base/document-orders
  - https://docs.unicourt.com/knowledge-base/case-update
  - https://docs.unicourt.com/knowledge-base/case-export
  - https://docs.unicourt.com/knowledge-base/normalization-docs
  - https://docs.unicourt.com/knowledge-base/pacer-api
  - https://docs.unicourt.com/knowledge-base/handling-requests-callbacks
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/get-hearings
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseimport
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneyupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneytrack
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmupdate
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/identify-top-casstype-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/market-share-analysis
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/top-attorneys
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-by-captiontext
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-filed-last30days
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-partyname-role
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-product-liability
servers:
- url: https://enterpriseapi.unicourt.com
tags:
- name: Normlawfirmtrack
paths:
  /normLawFirmTrack:
    put:
      operationId: put_normLawFirmTrack
      tags:
      - Normlawfirmtrack
      summary: Alpha Norm Lawfirm Track Overview
      x-source: https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutNormlawfirmtrackRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutNormlawfirmtrackResponse'
  /normLawFirmTrack/{normLawFirmId}:
    delete:
      operationId: delete_normLawFirmTrack_normLawFirmId
      tags:
      - Normlawfirmtrack
      summary: Alpha Norm Lawfirm Track Overview
      x-source: https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
      parameters:
      - name: normLawFirmId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNormlawfirmtrackNormlawfirmidResponse'
    get:
      operationId: get_normLawFirmTrack_normLawFirmId
      tags:
      - Normlawfirmtrack
      summary: Alpha Norm Lawfirm Track Overview
      x-source: https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
      parameters:
      - name: normLawFirmId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNormlawfirmtrackNormlawfirmidResponse'
components:
  schemas:
    PutNormlawfirmtrackRequest:
      type: object
      properties:
        normLawFirmId:
          type: string
          description: Identifier of the law firm to track
        scheduleOptions:
          type: object
          description: Options for the tracking schedule
        scheduleOptions.refreshWindow:
          type: string
          description: 'Frequency of tracking (allowed values: 1W, 2W, 1M)'
        scheduleOptions.startDate:
          type: string
          description: Optional start date (YYYY-MM-DD)
        scheduleOptions.endDate:
          type: string
          description: Optional end date (YYYY-MM-DD)
        notifyOnDelay:
          type: boolean
          description: Not supported; must be omitted or false
      required:
      - normLawFirmId
      - scheduleOptions
      - scheduleOptions.refreshWindow
    PutNormlawfirmtrackResponse:
      type: object
      properties:
        NormLawFirmResponse:
          type: object
          description: Indicates whether a track was added or updated and includes estimatedTracksPerMonth
    GetNormlawfirmtrackNormlawfirmidResponse:
      type: object
      properties:
        trackingDetails:
          type: object
          description: Details of the tracking schedule and current status
    DeleteNormlawfirmtrackNormlawfirmidResponse:
      type: object
      properties:
        deleteResult:
          type: object
          description: Result of the delete operation
