openapi: 3.2.0
info:
  title: UniCourt Pacercredential API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 47 operation(s) read from 24 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; UniCourt has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.unicourt.com/getting-started/structure-of-requests-and-responses
  - https://docs.unicourt.com/getting-started/quickstart-view-and-track-cases
  - https://docs.unicourt.com/authentication-and-authorization/config-your-api-settings
  - https://docs.unicourt.com/knowledge-base/document-orders
  - https://docs.unicourt.com/knowledge-base/case-update
  - https://docs.unicourt.com/knowledge-base/case-export
  - https://docs.unicourt.com/knowledge-base/normalization-docs
  - https://docs.unicourt.com/knowledge-base/pacer-api
  - https://docs.unicourt.com/knowledge-base/handling-requests-callbacks
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/get-hearings
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseimport
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneyupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneytrack
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmupdate
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/identify-top-casstype-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/market-share-analysis
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/top-attorneys
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-by-captiontext
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-filed-last30days
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-partyname-role
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-product-liability
servers:
- url: https://enterpriseapi.unicourt.com
tags:
- name: Pacercredential
paths:
  /pacerCredential:
    put:
      operationId: put_pacerCredential
      tags:
      - Pacercredential
      summary: Document Orders
      x-source: https://docs.unicourt.com/knowledge-base/document-orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutPacercredentialRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutPacercredentialResponse'
  /pacerCredential/{pacerUserId}:
    delete:
      operationId: delete_pacerCredential_pacerUserId
      tags:
      - Pacercredential
      summary: Remove the existing credentials by using DELETE /pacerCredential/{pacerUserId}…
      description: Deletes a previously stored PACER credential.
      x-source: https://docs.unicourt.com/knowledge-base/pacer-api
      parameters:
      - name: pacerUserId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
components:
  schemas:
    PutPacercredentialResponse:
      type: object
      properties:
        object:
          type: string
        caseDocumentOrderCallbackId:
          type: string
        caseDocumentId:
          type: string
        callbackGeneratedDate:
          type: string
          description: null until callback is generated
        status:
          type: string
          description: IN_PROGRESS
        caseDocument:
          type: object
          description: null until document is ready
        caseDocumentOrderCallbackAPI:
          type: string
        file:
          type: object
          description: null until document is ready
        exception:
          type: string
    PutPacercredentialRequest:
      type: object
      properties:
        pacerUserId:
          type: string
          description: Your PACER user ID
        pacerClientCode:
          type: string
          description: Your PACER client code
      required:
      - pacerUserId
      - pacerClientCode
