openapi: 3.2.0
info:
  title: UniCourt Normattorneyupdate API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 47 operation(s) read from 24 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; UniCourt has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.unicourt.com/getting-started/structure-of-requests-and-responses
  - https://docs.unicourt.com/getting-started/quickstart-view-and-track-cases
  - https://docs.unicourt.com/authentication-and-authorization/config-your-api-settings
  - https://docs.unicourt.com/knowledge-base/document-orders
  - https://docs.unicourt.com/knowledge-base/case-update
  - https://docs.unicourt.com/knowledge-base/case-export
  - https://docs.unicourt.com/knowledge-base/normalization-docs
  - https://docs.unicourt.com/knowledge-base/pacer-api
  - https://docs.unicourt.com/knowledge-base/handling-requests-callbacks
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmtrack
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/get-hearings
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseimport
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-caseupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneyupdate
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneytrack
  - https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-lawfirmupdate
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/identify-top-casstype-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/market-share-analysis
  - https://docs.unicourt.com/use-cases-tutorials/business-intelligence/top-attorneys
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-by-captiontext
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-filed-last30days
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-partyname-role
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-lawfirm
  - https://docs.unicourt.com/use-cases-tutorials/standard-usecase/locate-cases-involving-product-liability
servers:
- url: https://enterpriseapi.unicourt.com
tags:
- name: Normattorneyupdate
paths:
  /normAttorneyUpdate:
    put:
      operationId: put_normAttorneyUpdate
      tags:
      - Normattorneyupdate
      summary: Submits a new attorney refresh request
      description: Submits an on‑demand attorney refresh for the specified normAttorneyId (and optional subset of states using stateCodeArray). Returns a NormAttorneyUpdate object with initial status.
      x-source: https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneyupdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutNormattorneyupdateRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutNormattorneyupdateResponse'
  /normAttorneyUpdate/{normAttorneyId}:
    get:
      operationId: get_normAttorneyUpdate_normAttorneyId
      tags:
      - Normattorneyupdate
      summary: Retrieves real‑time status and details for a single attorney
      description: Fetches a NormAttorneyUpdate object for a specific 18‑char normAttorneyId, including real‑time status, timestamps, and, on COMPLETE, the full NormAttorney object when available.
      x-source: https://docs.unicourt.com/knowledge-base/kb-alpha/alpha-attorneyupdate
      parameters:
      - name: normAttorneyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNormattorneyupdateNormattorneyidResponse'
components:
  schemas:
    PutNormattorneyupdateResponse:
      type: object
      properties:
        normAttorneyUpdateId:
          type: string
          description: Identifier of the update request.
        status:
          type: string
          description: Current status (e.g., IN_PROGRESS, COMPLETE, FAILURE).
        statusDetails:
          type: string
          description: Always null for this endpoint.
    PutNormattorneyupdateRequest:
      type: object
      properties:
        normAttorneyId:
          type: string
          description: The 18‑character identifier of the attorney to refresh.
        stateCodeArray:
          type: array
          description: Array of two‑letter state codes to limit the update; empty array means all barred states.
        priorityLevel:
          type: string
          description: Processing timeout level; only "level5" is supported. Defaults to "level5".
        notifyOnDelay:
          type: boolean
          description: Ignored for Norm Attorney Update; always treated as false.
      required:
      - normAttorneyId
      - stateCodeArray
    GetNormattorneyupdateNormattorneyidResponse:
      type: object
      properties:
        normAttorneyUpdateId:
          type: string
          description: Identifier of the update request.
        status:
          type: string
          description: Current processing status.
        statusDetails:
          type: string
          description: Always null for this endpoint.
        normAttorney:
          type: object
          description: Full NormAttorney object when status is COMPLETE.
